[Unit]
Description=Sonos API
After=syslog.target network.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/pi/sonos-sync-group-volume/sonos-sync-group-volume.sh
User=root

[Install]
WantedBy=multi-user.target